Part2/Bus-Time-Table/Node-RED.json
[{"id":"1694ed5455925753","type":"inject","z":"69a7bd4249d66163","name":"Read CSV every 60s","props":[],"repeat":"59","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":157.6666030883789,"y":130.0832462310791,"wires":[["70ad437eb4e14428"]]},{"id":"70ad437eb4e14428","type":"file in","z":"69a7bd4249d66163","name":"Read bus CSV","filename":"/media/bus/timetable-23.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":362.6666717529297,"y":130.0832462310791,"wires":[["aa650203304b229b"]]},{"id":"aa650203304b229b","type":"csv","z":"69a7bd4249d66163","name":"Parse CSV","sep":",","hdrin":true,"multi":"rows","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":532.666618347168,"y":130.0832462310791,"wires":[["0f436167c245acd2"]]},{"id":"0f436167c245acd2","type":"function","z":"69a7bd4249d66163","name":"Find Next Buses","func":"// Determine today's label\nconst dayLabels = {\n    0: \"Sunday\",\n    1: \"Workday\",\n    2: \"Workday\",\n    3: \"Workday\",\n    4: \"Workday\",\n    5: \"Saturday\",\n    6: \"Sunday\"\n};\n\n\nconst now = new Date();\nconst currentMinutes = now.getHours() * 60 + now.getMinutes();\nconst todayLabel = dayLabels[now.getDay()];\n\nconst routes = [\"23 to Horsham\", \"23 to Crawley\"];\n\nconst results = routes.map(route => {\n    const times = msg.payload.filter(row => row.Day === todayLabel && row.Bus === route);\n\n    for (const row of times) {\n        const [h, m] = row.Times.split(\":\");\n        const minutes = parseInt(h) * 60 + parseInt(m);\n        if (minutes > currentMinutes) {\n            return {\n                route,\n                time: row.Times,\n                remaining: `${minutes - currentMinutes} minutes`\n            };\n        }\n    }\n\nreturn {\n    route,\n    time: \"—\",\n    remaining: \"No more buses today\"\n};\n\n});\n\nmsg.payload = results;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":704.6666946411133,"y":131.0833683013916,"wires":[["0c535bc30da4b16e"]]},{"id":"b57cfbd30a8ec835","type":"api-call-service","z":"69a7bd4249d66163","name":"Set Bus 23 Crawley","server":"home_assistant_server","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.next_bus_23_crawley"],"labelId":[],"data":"{\"value\":\"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"blockInputOverrides":false,"domain":"input_text","service":"set_value","service_domain":"input_text","x":1133.2380361557007,"y":156.24523067474365,"wires":[["bcaaabe5fd934168"]]},{"id":"0c535bc30da4b16e","type":"function","z":"69a7bd4249d66163","name":"Format and Split","func":"const horsham = msg.payload.find(b => b.route.includes(\"Horsham\"));\nconst crawley = msg.payload.find(b => b.route.includes(\"Crawley\"));\n\nreturn [\n    {\n        payload: horsham.time === \"—\"\n            ? \"No more buses today\"\n            : `${horsham.time} (${horsham.remaining})`\n    },\n    {\n        payload: crawley.time === \"—\"\n            ? \"No more buses today\"\n            : `${crawley.time} (${crawley.remaining})`\n    }\n];\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":885.3842163085938,"y":131.7366886138916,"wires":[["b053eb87a3b69106"],["b57cfbd30a8ec835"]]},{"id":"b053eb87a3b69106","type":"api-call-service","z":"69a7bd4249d66163","name":"Set Bus 23 Horsham","server":"home_assistant_server","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.next_bus_23_horsham"],"labelId":[],"data":"{\"value\":\"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"blockInputOverrides":false,"domain":"input_text","service":"set_value","service_domain":"input_text","x":1143.2380361557007,"y":105.47610855102539,"wires":[["45f9eeed33999d6d"]]},{"id":"bcaaabe5fd934168","type":"debug","z":"69a7bd4249d66163","name":"debug 75","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1360.3212547302246,"y":156.24523067474365,"wires":[]},{"id":"45f9eeed33999d6d","type":"debug","z":"69a7bd4249d66163","name":"debug 76","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1360.3212547302246,"y":105.47610855102539,"wires":[]},{"id":"761251e652f00d64","type":"comment","z":"69a7bd4249d66163","name":"Bus 23","info":"","x":109.9791841506958,"y":84.62171363830566,"wires":[]},{"id":"4c57109fbb2f1d04","type":"inject","z":"69a7bd4249d66163","name":"Read CSV every 60s","props":[],"repeat":"59","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":160.1657257080078,"y":271.8229064941406,"wires":[["cfaf9897c40611fe"]]},{"id":"cfaf9897c40611fe","type":"file in","z":"69a7bd4249d66163","name":"Read bus CSV","filename":"/media/bus/timetable-200.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":365.1657943725586,"y":271.8229064941406,"wires":[["55648ec20c44e308"]]},{"id":"55648ec20c44e308","type":"csv","z":"69a7bd4249d66163","name":"Parse CSV","sep":",","hdrin":true,"multi":"rows","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":535.1657409667969,"y":271.8229064941406,"wires":[["c580da663c42aa50"]]},{"id":"c580da663c42aa50","type":"function","z":"69a7bd4249d66163","name":"Find Next Buses 200","func":"// Determine today's label\nconst dayLabels = {\n    0: \"Sunday\",\n    1: \"Workday\",\n    2: \"Workday\",\n    3: \"Workday\",\n    4: \"Workday\",\n    5: \"Saturday\",\n    6: \"Sunday\"\n};\n\n\nconst now = new Date();\nconst currentMinutes = now.getHours() * 60 + now.getMinutes();\nconst todayLabel = dayLabels[now.getDay()];\n\nconst routes = [\"200 to Horsham\", \"200 to Gatwick\"];\n\nconst results = routes.map(route => {\n    const times = msg.payload.filter(row => row.Day === todayLabel && row.Bus === route);\n\n    for (const row of times) {\n        const [h, m] = row.Times.split(\":\");\n        const minutes = parseInt(h) * 60 + parseInt(m);\n        if (minutes > currentMinutes) {\n            return {\n                route,\n                time: row.Times,\n                remaining: `${minutes - currentMinutes} minutes`\n            };\n        }\n    }\n\nreturn {\n    route,\n    time: \"—\",\n    remaining: \"No more buses today\"\n};\n\n});\n\nmsg.payload = results;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":727.1658172607422,"y":272.8230285644531,"wires":[["3c17ea70bc96f5d2"]]},{"id":"db3e102643fb76a6","type":"api-call-service","z":"69a7bd4249d66163","name":"Set Bus 200 Gatwick","server":"home_assistant_server","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.next_bus_200_gatwick"],"labelId":[],"data":"{\"value\":\"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"blockInputOverrides":false,"domain":"input_text","service":"set_value","service_domain":"input_text","x":1143.2380361557007,"y":298.7872371673584,"wires":[["6ce94834a2f705dc"]]},{"id":"3c17ea70bc96f5d2","type":"function","z":"69a7bd4249d66163","name":"Format and Split","func":"const horsham = msg.payload.find(b => b.route.includes(\"Horsham\"));\nconst crawley = msg.payload.find(b => b.route.includes(\"Gatwick\"));\n\nreturn [\n    {\n        payload: horsham.time === \"—\"\n            ? \"No more buses today\"\n            : `${horsham.time} (${horsham.remaining})`\n    },\n    {\n        payload: crawley.time === \"—\"\n            ? \"No more buses today\"\n            : `${crawley.time} (${crawley.remaining})`\n    }\n];\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":931.2166519165039,"y":271.8096923828125,"wires":[["1e73f8ec8a4c46a7"],["db3e102643fb76a6"]]},{"id":"1e73f8ec8a4c46a7","type":"api-call-service","z":"69a7bd4249d66163","name":"Set Bus 200 Horsham","server":"home_assistant_server","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.next_bus_200_horsham"],"labelId":[],"data":"{\"value\":\"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"blockInputOverrides":false,"domain":"input_text","service":"set_value","service_domain":"input_text","x":1143.2380361557007,"y":244.50153255462646,"wires":[["a3f2c51b550ef789"]]},{"id":"6ce94834a2f705dc","type":"debug","z":"69a7bd4249d66163","name":"debug 73","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1360.3212547302246,"y":299.5563898086548,"wires":[]},{"id":"a3f2c51b550ef789","type":"debug","z":"69a7bd4249d66163","name":"debug 74","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1360.3212547302246,"y":244.50153255462646,"wires":[]},{"id":"3268be1cdae59efa","type":"comment","z":"69a7bd4249d66163","name":"Bus 200","info":"","x":119.9791841506958,"y":226.3613739013672,"wires":[]},{"id":"587beebf4028e39a","type":"inject","z":"69a7bd4249d66163","name":"Read CSV every 60s","props":[],"repeat":"59","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":155.9999475479126,"y":411.1619997024536,"wires":[["7091cd6e9c20f054"]]},{"id":"7091cd6e9c20f054","type":"file in","z":"69a7bd4249d66163","name":"Read bus CSV","filename":"/media/bus/timetable-10.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":361.0000162124634,"y":411.1619997024536,"wires":[["9e57a21da3d6d6fc"]]},{"id":"9e57a21da3d6d6fc","type":"csv","z":"69a7bd4249d66163","name":"Parse CSV","sep":",","hdrin":true,"multi":"rows","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":530.9999628067017,"y":411.1619997024536,"wires":[["1f47bfa77661c2fc"]]},{"id":"1f47bfa77661c2fc","type":"function","z":"69a7bd4249d66163","name":"Find Next Buses 10","func":"// Determine today's label\nconst dayLabels = {\n    0: \"Sunday\",\n    1: \"Workday\",\n    2: \"Workday\",\n    3: \"Workday\",\n    4: \"Workday\",\n    5: \"Saturday\",\n    6: \"Sunday\"\n};\n\n\nconst now = new Date();\nconst currentMinutes = now.getHours() * 60 + now.getMinutes();\nconst todayLabel = dayLabels[now.getDay()];\n\n// Only one valid route\nconst routes = [\"10 to Gatwick\"];\n\nconst results = routes.map(route => {\n    const times = msg.payload.filter(row => row.Day === todayLabel && row.Bus === route);\n\n    for (const row of times) {\n        const [h, m] = row.Times.split(\":\");\n        const minutes = parseInt(h) * 60 + parseInt(m);\n        if (minutes > currentMinutes) {\n            return {\n                route,\n                time: row.Times,\n                remaining: `${minutes - currentMinutes} minutes`\n            };\n        }\n    }\n\nreturn {\n    route,\n    time: \"—\",\n    remaining: \"No more buses today\"\n};\n\n});\n\nmsg.payload = results;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":713.000039100647,"y":411.1619997024536,"wires":[["17272a13640e0f3a"]]},{"id":"17272a13640e0f3a","type":"function","z":"69a7bd4249d66163","name":"Format and Split","func":"const gatwick = msg.payload.find(b => b.route.includes(\"Gatwick\"));\n\nreturn [\n    {\n        payload: gatwick.time === \"—\"\n            ? \"No more buses today\"\n            : `${gatwick.time} (${gatwick.remaining})`\n    }\n];\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":927.0508737564087,"y":411.1619997024536,"wires":[["4335e9edf5c80d3a"]]},{"id":"2cd69185f288a674","type":"debug","z":"69a7bd4249d66163","name":"debug 78","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1363.3213109970093,"y":411.1619997024536,"wires":[]},{"id":"e6c92c944766aa26","type":"comment","z":"69a7bd4249d66163","name":"Bus 10","info":"","x":109.9791841506958,"y":371.53846740722656,"wires":[]},{"id":"4335e9edf5c80d3a","type":"api-call-service","z":"69a7bd4249d66163","name":"Set Bus 200 Gatwick","server":"home_assistant_server","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.next_bus_10_gatwick"],"labelId":[],"data":"{\"value\":\"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"blockInputOverrides":false,"domain":"input_text","service":"set_value","service_domain":"input_text","x":1149.2379837036133,"y":411.1619997024536,"wires":[["2cd69185f288a674"]]},{"id":"home_assistant_server","type":"server","name":"Home Assistant","addon":true}]
